*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
.bubbles{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0px;
    left: 0px;
}
.bubble{
    
    background-color:transparent;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom:0px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px rgba(237, 236, 235, 0.3);
    
    
}


